@font-face {
    font-family: 'Tenor Sans';
    src: ~'url(@{url}fonts/tenorsans-regular-webfont.woff)' format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Playfair Display';
    src: ~'url(@{url}fonts/playfairdisplay-regular-webfont.woff)' format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Playfair Display';
    src: ~'url(@{url}fonts/playfairdisplay-bold-webfont.woff)' format('woff');
    font-weight: 700;
}@font-face {
    font-family: 'Playfair Display';
    src: ~'url(@{url}fonts/playfairdisplay-black-webfont.woff)' format('woff');
    font-weight: 900;
}