@import ~'@{dir}normalize';
@import ~'@{dir}fonts';
@import ~'@{dir}mixins';
@import ~'@{dir}base';

/*
 **** THIS 
 * 
 * @pxd: 144rem;
 * 
 * div {
 *   font-size: 24pxd;
 * }
 * 
 **** WILL BE CONVERTED TO THIS
 * 
 * div {
 *   font-size: 24pxd;
 * }
 * 
 **** VARIABLE NAME MUST INCLUDE '@px', e.g.:
 * @pxd: 144rem;
 * @pxm: 32rem;
 * 
 */
 
 @d: 144rem;
 @m: 32rem;

 @blue: #100071;
 @purple: #57488f;

//@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');
//@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700, 900');

* {
    padding: 0;
    margin: 0;
}

html {
	font-size: 10vw;
}
body {
	font-size: 12/@d;
	font-family: 'Playfair Display';
	font-weight: 400;
	background-color: #ffedd4;
	color: @blue;
}
header {
	height: 80/@d;
	background-color: white;
    position: absolute;
    width: 100%;
    box-shadow: 0px 20/@d 30/@d #ffe3ce;
	.wrap {
		margin-left: 26/@d;
		margin-right: 26/@d;
		padding-top: 18/@d;
		padding-bottom: 18/@d;
		.clear();
	}
}


.header-input {
	display: inline-block;
    position: relative;
    top: 8/@d;
	vertical-align: middle;
	border-bottom: 1px solid @blue;
	input {
		//background-image: url('../img/glass.svg');
		width: 180/@d;
	    height: 30/@d;
        border: none;
	    font-family: 'Tenor Sans';
	    font-size: 14/@d;
	    color: @blue;
	    padding-left: 2/@d;
	    padding-right: 10/@d;
	    background-size: 16/@d;
	    &::placeholder {
	    	color: @blue;	
	    }
	}
}
.search-click {
	background-size: 16px;
    width: 30px;
    height: 31px;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.header-option {
	width: 19/@d;
    height: 19/@d;
    position: absolute;
    top: 30/@d;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-option1 {
    left: 292/@d;
    display: none;
}
.header-option2 {
	left: 322/@d;
}
.header-option1-on {
	left: 292/@d;
}
.header-option2-on {
	left: 322/@d;
	display: none;
}
.header-logo {
	width: 140/@d;
    height: 40/@d;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 650/@d;
    margin-top: 4/@d;
}
.menu {
	display: inline-block;
	font-family: 'Tenor Sans';
	font-size: 14/@d;
    vertical-align: middle;
    float: right;
    margin-top: -10/@d;
	li {
		display: inline-block;
		margin: 10/@d;
	    vertical-align: middle;
	    height: 49/@d;
	    line-height: 49/@d;

		a {
			color: @blue;
			text-decoration: none;
			position: relative;
			&:before {
				content: "";
				height: 1px;
				background-color: @blue;
				width: 0;
				position: absolute;
			    top: 20/@d;
			    transition: width 150ms ease-in-out;
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
	.new {
		margin-right: 20/@d;
	}
	.lang {
		margin-left: 20/@d;
		a {
			&:before {
				height: 0;
			}
		}
	}
}
.lang-down {
    display: inline-block;
    width: 8/@d;
    height: 5/@d;
    background-size: contain;
    background-repeat: no-repeat;
}
.logged-in {
	a {
		width: 49/@d;
	    height: 49/@d;
	    display: inline-block;
	    background-color: #fff2d7;
	    border-radius: 50%;
	    text-align: center;
	    display: none;
	    &:before {
	    	display: none;
	    }
	}
}
.langs {
	display: none;
}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@HOMEPAGE-LANDING@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.landing {
	height: 100vh;
    padding-top: 80/@d;
    padding-bottom: 30/@d;
    min-height: 720/@d;
	.wrap {
		padding-top: 40/@d;
		height: 100%;
    	position: relative;
	}
}
.title {
    z-index: 10;
	font-size: 16/@d;
	color: @blue;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
    letter-spacing: 2/@d;
    position: absolute;
    width: 300/@d;
    left: 570/@d;
}
.title-underline {
	height: 1px;
	width: 30/@d;
	background-color: @blue;
	position: absolute;
    left: 705/@d;
    top: 72/@d;
}

.single-comment {
	height: 100%;
	display: table;
	//display: none;
}
.grid-comments {
	display: none;
}
.left-arrow {
	width: 30/@d;
    height: 100%;
    position: absolute;
    left: 28/@d;
    top: 0;
}
.right-arrow {
	width: 30/@d;
    height: 100%;
    position: absolute;
    right: 28/@d;
    top: 0;
}
.arrow-inner {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30/@d;
    height: 26/@d;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.hero-comment-container {
	width: 100%;
	height: 550/@d;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 80/@d;
    position: relative;
}
.hero-comment-wrapper {
	padding-left: 250/@d;
	padding-right: 250/@d;
	height: 100%;
	width: 100%;
	display: table;
}
.hero-comment {
	font-size: 75/@d;
	font-weight: 900;
	line-height: 75/@d;
	color: @blue;
	text-align: center;

  	display: table-cell;
  	vertical-align: middle;
}

.comment-number {
    position: absolute;
    width: 200/@d;
    text-align: center;
    left: 620/@d;
    bottom: 90/@d;
    font-family: 'Tenor Sans';
    font-size: 14/@d;
    color: @blue;
}
.landing-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40/@d;
	text-align: center;
	padding-left: 28/@d;
	padding-right: 28/@d;
	font-family: 'Tenor Sans';
	font-size: 14/@d;
	.clear();
}
.left-buttons {
	display: inline-block;
	float: left;
}
.bot-btn {
	display: inline-block;
	background-color: white;
	height: 40/@d;
	line-height: 40/@d;
	color: @blue;
	border-radius: 20/@d;
	cursor: pointer;
}
.delete-b {
	width: 115/@d;
	svg {
    	display: inline-block;
	    width: 11/@d;
	    height: 16/@d;
        vertical-align: top;
        margin-top: 10/@d;
        margin-right: 5/@d;
	}
	&:hover {
		.st0 {
			fill: #ffffff;
		}
		background-color: @blue;
		color: white;
	}
}
.edit-b {
	width: 100/@d;
	svg {
		display: inline-block;
	    width: 16/@d;
	    height: 16/@d;
        vertical-align: top;
        margin-top: 10/@d;
        margin-right: 5/@d;
	}
	&:hover {
		.st0 {
			fill: #ffffff;
		}
		background-color: @blue;
		color: white;
	}
}	
.comment-faces {
	display: inline-block;
	position: absolute;
	left: 590/@d;
	font-size: 0;
}
.share-b {
	width: 120/@d;
	float: right;
	svg {
		display: inline-block;
	    width: 17/@d;
	    height: 14/@d;
        vertical-align: top;
        margin-top: 12/@d;
        margin-left: 5/@d;
	}
	&:hover {
		.st0 {
			fill: #ffffff;
		}
		background-color: @blue;
		color: white;
	}
}

.comment-face {
	display: inline-block;
	width: 40/@d;
	height: 40/@d;
	vertical-align: middle;
	margin-right: 10/@d;
	cursor: pointer;
	/* for choosing hover color
	.st0 {
		transition: fill 150ms ease-in-out;
	}
	&:hover {
		.st0 {
			fill: #000000;
		}
	}
	*/
}
.face5 {
	margin-right: 20/@d;
}
.comment-num {
	display: inline-block;
	font-size: 14/@d;
	font-family: 'Tenor Sans';
	line-height: 40/@d;
    vertical-align: top;
    color: @blue;
}


.grid-wrap {
	margin-left: 26/@d;
	margin-right: 26/@d;
	padding-top: 60/@d;
}
.grid-container[data-columns] {
	&:before {
		content: '4 .column.size-1of4';
	}
	font-size: 0;
}
.column { float: left; }
.size-1of4 { 
	width: 325/@d;
	margin-right: 23/@d;
	&:last-child {
		margin-right: 0;
	}
}

.grid-item {
	background-color: white;
	position: relative;
	width: 325/@d;
	border-radius: 4/@d;
	margin-bottom: 23/@d;
}
.grid-item-wrap {
	margin-left: 20/@d;
	margin-right: 20/@d;
	padding-top: 20/@d;
	padding-bottom: 90/@d;
}
.grid-item-text {
	color: @blue;

}

.grid-bottom {
	.clear();
	position: absolute;
	bottom: 20/@d;
	width: 285/@d;
}
.grid-faces {
	float: left;
}
.grid-face {
    width: 22/@d;
    height: 22/@d;
    display: inline-block;
    margin-right: 5/@d;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
    &:hover {
    	opacity: 1;
    }
}
.grid-num {
	font-size: 14/@d;
	font-family: 'Tenor Sans';
	display: inline-block;
    vertical-align: top;
    margin-left: 8/@d;
    margin-top: 1px;
    color: @blue;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
    &:hover {
    	opacity: 1;
    }
}
.grid-buttons {
	float: right;
    margin-top: 2/@d;
    div {
    	opacity: 0.3;
    	cursor: pointer;
	    transition: opacity 150ms ease-in-out;
	    &:hover {
	    	opacity: 1;
	    }
    }
}
.grid-del {
	width: 11/@d;
    height: 16/@d;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.grid-edit {
	width: 14/@d;
    height: 16/@d;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 12/@d;
}
.grid-share {
    width: 17/@d;
    height: 14/@d;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10/@d;
}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ABOUTG@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.about-section {
	height: 100vh;
    padding-top: 80/@d;
    padding-bottom: 30/@d;
	.wrap {
		padding-top: 40/@d;
		height: 100%;
    	display: table;
    	position: relative;
	}
}
.about-wrap {
	margin-left: 340/@d;
	margin-right: 340/@d;
    padding-top: 65/@d;
}
.about-item {
	margin-bottom: 60/@d;
}
.heading {
	font-size: 24/@d;
	font-weight: 700;
    margin-bottom: 16/@d;
}
.heading-first {
	font-size: 30/@d;
}
.about-text {
	font-size: 18/@d;
}


.mobile-search {
	display: none;
}
.add-new {
	display: none;
}
.menu-burger {
	display: none;
}

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@REGISTER@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.register {
	padding-top: 80/@d;
	.wrap {
		padding-top: 42/@d;
		position: relative;
	}
}
.reg-box {
	width: 360/@d;
	position: absolute;
    left: 540/@d;
    top: 120/@d;
	font-family: 'Tenor Sans';
	select,
	input {
		width: 100%;
		border: none;
		border-bottom: 1px solid @purple;
		color: @purple;
		font-size: 18/@d;
		padding-left: 1px;
		height: 35/@d;
		background-color: transparent;
		margin-bottom: 40/@d;
		opacity: 0.7;
		transition: opacity 300ms ease-in-out;
		&::placeholder {
			color: @purple;
		}
		&:focus {
			border-bottom: 1px solid @blue;
			color: @blue;
			opacity: 1;
		}
	}
	select {
		background-image: url('../img/drop-arrow.svg');
		background-size: 11/@d 7/@d;
		background-position: 344/@d 17/@d;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.reg-b {
		display: block;
		width: 164/@d;
		height: 40/@d;
		line-height: 40/@d;
		background-color: @blue;
		opacity: 1;
		color: #fff2d7;
		font-size: 14/@d;
		border-radius: 20/@d;
		margin: 0 auto;
		cursor: pointer;
		margin-bottom: 30/@d;
		border-bottom: none;
		&:hover {
			//background-color: @purple;
		}
		&:focus {
			color: #fff2d7;
		}
	}
}
.reg-bottom {
	text-align: center;
	max-width: 340/@d;
	margin: 0 auto;
}
.terms {
	font-size: 14/@d;
	color: @blue;
	line-height: 24/@d;
	margin-bottom: 30/@d;
	a {
		text-decoration: none;
		color: @blue;
		letter-spacing: 1px;
	}
}
.have-acc {
	text-decoration: none;
	color: @blue;
	font-size: 14/@d;
	span {
		letter-spacing: 1px;
	}
}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@POPUP@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.add-popup {
    height: 100vh;
	position: absolute;
    top: 0;
	z-index: 20;
	display: table;
	color: white;
	font-size: 14/@d;
	font-family: 'Tenor Sans';

	display: none;
}
.popup-bg {
	background-color: @blue;
	opacity: 0.9;
	width: 100%;
	height: 100vh;
	position: fixed;
}
.popup-content {
	display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100vw;
    text-align: center;
}
.popup-close {
    position: absolute;
    width: 22/@d;
    height: 22/@d;
    background-size: 18/@d;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(45deg);
    cursor: pointer;
    top: 28/@d;
    right: 30/@d;
    z-index: 10;
}
.popup-title {
	font-family: 'Playfair Display';
	font-weight: 400;
	letter-spacing: 2/@d;
	font-size: 16/@d;
	margin-bottom: 5/@d;
	margin-top: 30/@d;
}
.popup-title-underline {
	width: 30/@d;
    height: 1px;
    background-color: white;
    margin: 0 auto;
}
.popup-box {
    width: 360/@d;
    margin: 0 auto;
    margin-top: 75/@d;
    margin-bottom: 100/@d;
    select,
    input {
    	width: 100%;
    	height: 34/@d;
    	background-color: transparent;
    	border: none;
    	border-bottom: 1px solid white;
    	margin-bottom: 40/@d;
    	opacity: 0.7;
    	transition: opacity 300ms ease-in-out;
    	&::placeholder {
    		color: white;
    	}
    	&:focus {
    		opacity: 1;
    	}
    }
    select {
    	background-image: url('../img/popup-arrow.svg');
    	background-position: 344/@d 14/@d;
    	background-repeat: no-repeat;
    	background-size: 11/@d 7/@d;
    	option {
    		color: black;
    	}
    }
    .popup-button {
		background-color: #fff2d7;
		border-radius: 20/@d;
		color: @blue;
		width: 164/@d;
		height: 40/@d;
		line-height: 40/@d;
		text-align: center;
		margin-top: 20/@d;
		opacity: 1;
	}
}
.inner {
	width: 198/@d;
	background-color: white;
	position: absolute;
    right: 162/@d;
    top: 80/@d;
    z-index: 10;
    box-shadow: 0px 0px 120/@d rgba(255, 227, 206, 0.7);
}
.inner-sharp {
    width: 20/@d;
    height: 20/@d;
    position: absolute;
    background-color: white;
    transform: rotate(45deg);
    right: 89/@d;
    top: -11/@d;
}
.inner-wrap {
	margin-left: 20/@d;
	margin-right: 20/@d;
	padding-top: 8/@d;
	padding-bottom: 8/@d;
}
.about-inner {
	li {
		height: 50/@d;
		line-height: 50/@d;
		color: @blue;
		opacity: 0.7;
		font-size: 14/@d;
		font-family: 'Tenor Sans';
		width: 100%;
		border-bottom: 1px solid @blue;
		margin: 0;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 11/@m;
	}
	#ooo {
		display: none;
	}
	header {
		height: 55/@m;
		box-shadow: 0px 15/@m 30/@m #ffe3ce;
		.wrap {
			margin-left: 15/@m;
			margin-right: 15/@m;
			padding-top: 15/@m;
			padding-bottom: 15/@m;
		}
	}
	.inner {
		display: none;
	}
	.header-input {
		display: none;
	}
	.header-logo {
	    width: 90/@m;
    	height: 29/@m;
    	left: 115/@m;
    	top: 14/@m;
    	margin-top: 0;
	}
	.menu {
		display: none;
	}
	.mobile-search {
		display: inline-block;
		width: 22/@m;
		height: 22/@m;
		background-size: 15/@m 15/@m;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 1px;
	}
	.header-option {
		width: 15/@m;
		height: 15/@m;
	    top: 20/@m;
	}
	.add-new {
		display: inline-block;
		width: 23/@m;
		height: 23/@m;
		float: right;
		background-size: 18/@m 18/@m;
		background-position: center;
		background-repeat: no-repeat;
		margin-right: 8/@m;
	}
	.menu-burger {
		display: inline-block;
		width: 23/@m;
		height: 23/@m;
		background-size: 19/@m 13/@m;
		float: right;
		background-position: center;
		background-repeat: no-repeat;
	}
	.header-option1,
	.header-option1-on {
		left: 46/@m;
	}
	.header-option2,
	.header-option2-on {
		left: 72/@m;
	}

	.landing {
		padding-top: 55/@m;
		min-height: 0;
		.wrap {
			padding-top: 30/@m;
		}
	}

	.title {
		font-size: 11/@m;
		width: 200/@m;
		left: 60/@m;
	}
	.title-underline {
	    width: 18/@m;
    	left: 151/@m;
    	top: 52/@m;
	}
	.left-arrow {
		width: 17/@m;
	    height: 15/@m;
	    left: 90/@m;
	    top: 380/@m;
	}
	.right-arrow {
		width: 17/@m;
	    height: 15/@m;
	    right: 90/@m;
	    top: 380/@m;
	}
	.arrow-inner {
		width: 17/@m;
    	height: 15/@m;
    	transform: none;
    	position: static;
	}
	.hero-comment-container {
        //padding-bottom: 200/@m;
        height: 340/@m;
        display: block;
   		top: 30/@m;
	}
	.hero-comment-wrapper {
		padding-left: 15/@m;
		padding-right: 15/@m;
	}
	.hero-comment {
	    font-size: 27/@m;
    	line-height: 32/@m;
	}
	.comment-number {
		font-size: 10/@m;
	    width: 100/@m;
	    left: 110/@m;
        bottom: auto;
    	top: 380/@m;
	}
	.landing-bottom {
        position: static;
   		padding-top: 150/@m;
   		padding-bottom: 60/@m;
	}
	.comment-faces {
        left: 96/@m;
    	top: 430/@m;
	}
	.comment-face {
		width: 22/@m;
		height: 22/@m;
		margin-right: 6/@m;
	}
	.face5 {
		margin-right: 0;
	}
	.comment-num {
		font-size: 10/@m;
	    display: block;
	    margin-top: 12/@m;
	}
	.bot-btn {
		font-size: 10/@m;
	    line-height: 34/@m;
	    border-radius: 20/@m;
	}
	.left-buttons {
	    float: none;
	}
	.delete-b {
		width: 95/@m;
		height: 34/@m;
		margin-right: 8/@m;
		svg {
			width: 9/@m;
			height: 13/@m;
		    margin-top: 9/@m;
    		margin-right: 8/@m;
		}
	}
	.edit-b {
		width: 82/@m;
		height: 34/@m;
		margin-right: 8/@m;
		svg {
			width: 13/@m;
			height: 13/@m;
		    margin-top: 9/@m;
    		margin-right: 6/@m;
		}
	}
	.share-b {
		width: 98/@m;
		height: 34/@m;
		float: none;
		svg {
			width: 13/@m;
			height: 13/@m;
		    margin-top: 9/@m;
   			margin-left: 6/@m;
		}
	}

	.grid-container[data-columns] {
		&:before {
			content: '1 .column.size-1of4';
		}
	}
	.column { float: left; }
	.size-1of4 { 
		width: 100%;
		margin-right: 0;
	}
	.grid-wrap {
	    padding-top: 40/@m;
	    margin-right: 15/@m;
	    margin-left: 15/@m;
	}
	.grid-item-wrap {
		margin-left: 12/@m;
		margin-right: 12/@m;
		padding-top: 12/@m;
		padding-bottom: 65/@m;
	}
	.grid-item {
		width: 100%;
		margin-bottom: 13/@m;
	}
	.grid-bottom {
		bottom: 20/@m;
		width: 265/@m;
		left: 12/@m;
	}
	.grid-face {
		width: 17/@m;
	    height: 17/@m;
	    margin-right: 5/@m;
	}
	.grid-num {
	    font-size: 11/@m;
	}
	.grid-buttons {
	    margin-top: 3/@m;
	}
	.grid-del {
		width: 9/@m;
		height: 12/@m;
	}
	.grid-edit {
		width: 12/@m;
		height: 12/@m;
		margin-left: 10/@m;
	}
	.grid-share {
		width: 13/@m;
		height: 11/@m;
		margin-left: 8/@m;
	}

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ABOUTG@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

	.about-section {
	    padding-top: 55/@m;
	    padding-bottom: 30/@m;
		.wrap {
			padding-top: 30/@m;
			height: 100%;
	    	display: table;
	    	position: relative;
		}
		.title-underline {
			top: 50/@m;
	    	width: 18/@m;
		}
	}
	.about-wrap {
		padding-top: 45/@m;
		margin-left: 14/@m;
		margin-right: 14/@m;
	}
	.about-item {
		margin-bottom: 36/@m;
	}
	.heading {
		font-size: 14/@m;
		margin-bottom: 12/@m;
	}
	.heading-first {
		font-size: 17/@m;
	}
	.about-text {
		font-size: 14/@m;
	}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@REGISTER@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

	.register {
		padding-top: 55/@m;
		.wrap {
			padding-top: 45/@m;
		}
		.title-underline {
			top: 65/@m;
		}
	}
	.reg-box {
		top: 100/@m;
	    left: 14/@m;
	    width: 292/@m;
        margin-bottom: 30/@m;
	    select,
	    input {
			height: 34/@m;
			margin-bottom:20/@m;
			font-size: 14/@m;
			&::placeholder {
				font-size: 14/@m;
			}
	    }
	    select {
	    	background-size: 11/@m 7/@m;
    	    background-position: 276/@m 14/@m;
	    }
    	.reg-b {
			font-size: 12/@m;
			width: 130/@m;
			height: 35/@m;
			line-height: 35/@m;
			border-radius: 20/@m;
			margin-bottom: 25/@m;
		}
	}
	.drop-arrow {
	    width: 11/@m;
	    height: 7/@m;
	    top: 176/@m;
	    right: 5/@m;
	}
	.reg-bottom {
		max-width: 290/@m;
		margin-top: 30/@m;
	}
	.terms {
		font-size: 12/@m;
		line-height: 22/@m;
		margin-bottom: 25/@m;
	}
	.have-acc {
		font-size: 12/@m;
	}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@POPUP@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
	.add-popup {
		display: block;

		display: none;
	}
	.popup-close {
		width: 30/@m;
	    height: 30/@m;
	    background-size: 20/@m;
	    top: 12/@m;
	    right: 10/@m;
	}
	.popup-content {
		min-height: 580/@m;
		padding-top: 100/@m;
		display: block;
	}
	.popup-title {
		font-size: 11/@m;
		margin-bottom: 5/@m;
	}
	.popup-title-underline {
		width: 18/@m;
	}
	.popup-box {
		width: 282/@m;
		margin-top: 40/@m;
		margin-bottom: 30/@m;
		select,
		input {
			height: 34/@m;
			margin-bottom: 20/@m;
			font-size: 14/@m;
		}
		.popup-button {
			width: 130/@m;
			height: 35/@m;
			font-size: 14/@m;
			border-radius: 20/@m;
		    margin-top: 20/@m;
		}
	}

}